@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,700;1,300&family=Titillium+Web:wght@300&display=swap');

main{
    width: 100%;
    height: 100vh;
    background-image: url(../../Assets/hero.jpg);
    background-size: cover;
    opacity: 3;
    display: flex;
}

.home-cover{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.705);

}

.home-text{
    width: 40%;
    color:white;
    margin-top: 5%;
    margin-left: 2%;
    position: relative;
    top: 50%;
}

.heading{
    font-size: 3.2rem;
    font-family: 'Raleway', sans-serif;
}

.leading-text{
    font-size: 1.5rem;
    font-family: 'Titillium Web', sans-serif;
}

.home-image{
    margin-top: 12%;
    margin-left: 18%;
}

button{
    margin-left: auto;
    margin-right: auto;
    padding: 200px;
}

.scroller{
  width: 50px;
  height: 70px;
  border: 3px solid white;
  border-radius: 50px;
}

.scroll-circle{
  width: 12px;
  height: 12px;
  background-color: white;
  position: relative;
  top:40%;
  left:38%;
  border-radius: 50%;
}

.scroll-icon-container{
  position: relative;
  top: 65%; /* Adjust this value as needed */
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 80px;
}

.scroll-icon-container p{
  color: white;
  font-family: 'Raleway';
  text-align: center;
  font-size: smaller;
  
}

/* Existing styles */

/* Media queries for responsiveness */

@media (min-width: 375px) {
  .scroll-icon-container {
    visibility: hidden;
    
  }

  .scroller{
    width: 40px;
    height: 62px;
  }

  .scroll-circle{
    width: 10px;
    height: 10px;
  }

  .scroll-icon-container p{
    margin-right: 16px;
  }
}

@media (max-width: 768px) {
    main {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow-y: hidden;

    }
  
    .home-text {
      width: 80%; /* Adjust as needed */
      margin: 10%; /* Adjust margins */
      top: 25%;
    }
  
    .home-image {
      margin: 5% auto; /* Adjust margins */
    }
    
    .home-image img{
        width: 280px;    
    }


    .heading {
      font-size: 2rem; /* Adjust font size */
    }
  
    .leading-text {
      font-size: 1.1rem; /* Adjust font size */
      padding-bottom: 10px;
    }
  
    button {
      padding: 10px 20px; /* Adjust padding */
      font-size: 1rem; /* Adjust font size */
    }

    .scroll-icon-container{
      position: relative;
      top: 30%;
      margin-left: auto;
      margin-right: auto;
      width: 60px;
      height: 80px;
    }
  }
  
  /* Media query for tablet devices */
@media (min-width: 768px) and (max-width: 1023px) {
  main {
    flex-direction: column; /* Set to row to display content side by side */
    align-items: center;
    justify-content: space-between; /* Adjust content alignment */
    height: 95vh;
  }

  .home-text {
    width: 60%; /* Adjust the width of the text container for tablets */
    margin-left: auto; /* Remove the margin to center the text */
    margin-right: auto;
    margin-top: 10%; /* Adjust margins */
  }

  .home-image {
    margin: 0; /* Remove the margin to center the image */
  }

  .home-image img {
    width: 400px; /* Adjust image width for tablets */
  }

  .heading {
    font-size: 2.5rem; /* Adjust the font size for tablets */
  }

  .leading-text {
    font-size: 1.3rem; /* Adjust the font size for tablets */
  }

  button {
    padding: 15px 30px; /* Adjust button padding for tablets */
    font-size: 1.2rem; /* Adjust the font size for tablets */
  }

  .scroll-icon-container{
    visibility: hidden;  }
}

/* Media query for laptop devices */
@media (min-width: 1024px) {
  main {
    flex-direction: row; /* Set to row to display content side by side */
    align-items: center;
    justify-content: space-between; /* Adjust content alignment */
    height: 100vh; /* Reset the height to full viewport height */
  }

  .home-text {
    width: 40%; /* Adjust the width of the text container for laptops */
   margin-left: auto;/* Remove the margin to center the text */
   margin-right: auto;
    margin-top: -200px; /* Adjust margins */
  }

  .home-image {
    padding-top: 150px;
    margin:0; /* Remove the margin to center the image */
  }

  .home-image img {
    width: 65%; /* Adjust image width for laptops */
  }

  .heading {
    font-size: 3.2rem; /* Restore the original font size for laptops */
  }

  .leading-text {
    font-size: 1.5rem; /* Restore the original font size for laptops */
  }

  button {
    padding: 20px 40px; /* Adjust button padding for laptops */
    font-size: 1.5rem; /* Restore the original font size for laptops */
  }

  .scroll-icon-container{
    visibility: visible;
  }
}

@media (min-width: 1200px) {
  .scroll-icon-container p{
    margin-left: 6px;
  }
}